<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/src/client/styles/resets.scss">
        <link rel="stylesheet" href="/src/client/styles/base.scss">
        <link rel="stylesheet" href="/src/client/styles/header.scss">
        <link rel="stylesheet" href="/src/client/styles/form.scss">
        <link rel="stylesheet" href="/src/client/styles/footer.scss"> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                Navigation Bar
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input id="name" type="text" name="input" value="">
                    <input type="submit" name="" id="submitButton" value="Submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
